{% block body %}
    <main>
        <div class="container g-py-150 text-center">
            <h1 class="g-font-size-60 mb-4">Blank Page</h1>
            <p class="g-font-size-18 mb-5">This is a plain page to start building your website like a Lego!</p>
            <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="index.html">Back to the Intro Page</a>
        </div>
    </main>
{% endblock %}