{% include 'base.html.twig' %}
{% set title = 'Wintr Application - Admin' %}

{% block body %}
    <main>
        <div class="container g-py-150 text-center">
            <h1 class="g-font-size-60 mb-4">Admin Page</h1>
            <p class="g-font-size-18 mb-5">This is a plain page to start building your website like a Lego!</p>
        </div>
    </main>
{% endblock %}