// Add here all your customized variables

// Discord Color
$g-color-discord: #7289da !default;
$g-color-discord-dark-v1: darken($g-color-discord, 5%) !default;
$g-color-discord-dark-v2: darken($g-color-discord, 10%) !default;
$g-color-discord-light-v1: lighten($g-color-discord, 5%) !default;