/* Add here all your css styles (customizations) */

// Variables
@import "custom.variables";

// Mixins
@import "custom.mixins";

/* Button Discord */
.u-btn-discord {
  @include u-button-flat ($g-color-discord, $g-color-white, $g-color-white);
}

/* Discord */
.g-bg-discord {
  background-color: $g-color-discord;

  .u-block-hover:hover &--hover,
  &--hover:hover {
    background-color: $g-color-discord-dark-v1 !important;
  }
}

/* Discord */
.g-brd-discord {
  border-color: $g-color-discord;

  &--hover:hover {
    border-color: $g-color-discord !important;
  }
}
.u-icon-v4 {
  // Discord
  &-bg-discord {
    border-color: $g-color-discord;

    .u-icon-v4-inner {
      background-color: $g-color-discord;
    }
  }
  // Discord
  &-bg-discord--hover:hover,
  .u-icon-block--hover:hover &-bg-discord--hover {
    border-color: $g-color-discord;

    & .u-icon-v4-inner {
      background: $g-color-discord;
    }
  }
}

/* Discord */
.g-color-discord {
  color: $g-color-discord;

  &:hover {
    color: $g-color-discord-dark-v1;
  }

  &--hover:hover {
    color: $g-color-discord !important;
  }
}

// Hover Color (discord)
.u-icon-block-hover:hover .g-color-discord--hover {
  color: $g-color-discord;
}
// Hover Border Color (discord)
.u-icon-block-hover:hover .g-brd-discord--hover {
  border-color: $g-color-discord;
}
// Hover BG (discord)
.u-icon-block-hover:hover .g-bg-discord--hover {
  background: $g-color-discord;
}